@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="content">
    <h3>best sellers</h3>
    <div class="row">
        @for (int i = 0; i < Model.allPlantsList.Count(); i++)
        {
            <div class="item-preview col-sm-4 col-md-3">
                <div>
                    <a asp-page="ViewItem" asp-route-id="@Model.allPlantsList[i].PlantID">
                        <img src="@Bloompedia.utils.Utilites.GetImagePath(Model.allPlantsList[i].ImageID, "jpg")" class="img-thumbnail"/>
                        <div class="item-name-small">
                            @Model.allPlantsList[i].PlantID
                        </div>
                    </a>
                </div>
                <div class="item-rating-small">
                    <img src="images/star-full.png" class="star-small" />
                    <img src="images/star-full.png" class="star-small" />
                    <img src="images/star-full.png" class="star-small" />
                    <img src="images/star-half.png" class="star-small" />
                    <img src="images/star-empty.png" class="star-small" />
                </div>
                <div class="item-description-small">Description here. This plant's color is @Model.allPlantsList[i].Colour. It is type @Model.allPlantsList[i].Type and is size @Model.allPlantsList[i].Size </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @*<script type="text/javascript">alert('hello');</script>
        SCRIPTS GO HERE
    *@
}